.collapse {
  &:not(.show) {  
    display: block;
  }
}

.dev-icons {
  .list-inline-item {
    img {
      height: 6rem;
    }
  }
}

.resume-section {
  h3 {
    a {
      text-decoration: underline;

      .fas {
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }
}
